// Specific CSS for your home-page

// .btn-ghost {
//     color: #4A4A4A;
//     border: 1px solid #4A4A4A;
//     padding: 8px 24px;
//     border-radius: 50px;
//     font-weight: lighter;
//     opacity: 0.6;
//     transition: opacity 0.3s ease;
//     text-align: right;
//     margin-top: 50px
  // }
  
  // .btn-ghost:hover {
  //   opacity: 1;
  // }
  
  .btn-flat {
    color: rgb(17, 9, 9);
    padding: 8px 24px;
    border-radius: 4px;
    background: #f0ead6;
    transition: background 0.3s ease;
    border: 2px solid #080808;
  }
  
  .btn-flat:hover {
    background: #c4a404;
    color: #f0ead6;
  }
  
  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }
  
  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  
  .container-text {
    width: 500px;   /* This sets the width */
    margin: 0 auto; /* This automatically sets left/right margins */
    border: 2px solid #080808;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
  }

  .container-text:hover {
    background: #c4a404;
    color: #f0ead6;
  }
  .container-seeallevents {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 200px;
    padding-right: 50px;
  }

  .background-home {
    background-color: #f0ead6;
   }