<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
  </div>
  </div>
<div style="text-align: right"> <%= link_to "Sign Up", "users/sign_up", class: "btn btn-ghost" %>
</div>

<h1>Welcome home.</h1>
<p>BeWithUS. We're here to provide you with a loving family. Maybe you want to learn more about another culture or find a home away from home for the holidays. You can find caring families here to make beautiful memories with.</p>
