.custom-btn{
  border: 2px solid rgb(250, 129, 129);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-card{
  background-color:$orange-300

}
.custom-confirm{
  background-color:$cyan-100
}

.custom-update{
  background-color:$green-100
}
